<!DOCTYPE html>

<html th:fragment="layout (template, menu)">
    <head>
        <!-- Global site tag (gtag.js) - Google Analytics -->
        <script async src="https://www.googletagmanager.com/gtag/js?id=UA-113461091-1"></script>
        <script>
            window.dataLayer = window.dataLayer || [];
            function gtag() {
                dataLayer.push(arguments);
            }
            gtag('js', new Date());

            gtag('config', 'UA-113461091-1');
        </script>

        <title>Calendário Dekatrian</title>
        <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
        <link rel="stylesheet" type="text/css" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css" />
        <link rel="stylesheet" type="text/css" href="/stylesheets/main.css" />
    </head>

    <body>
        <a href="https://github.com/carlosromel/dekatrian/" target="_blank"><img style="position: absolute; top: 0; right: 0; border: 0;" src="https://s3.amazonaws.com/github/ribbons/forkme_right_red_aa0000.png" alt="Fork me on GitHub"/></a>

        <div class="container">
            <div th:replace="${template}"/>
        </div>
            <script type="text/javascript"  language="JavaScript">
            function convert(url) {
                var xhr = new XMLHttpRequest();

                xhr.open('GET', url);
                xhr.onreadystatechange = function () {
                    if (xhr.readyState === 4 && xhr.status === 200) {
                        dates = JSON.parse(xhr.responseText);
                        var deka = dates.dekatrianFormat + ', (' + dates.dekatrianHuman + ')';
                        var greg = dates.gregorianFormat + ', (' + dates.gregorianHuman + ')';

                        document.querySelector('#dekatrianHuman').textContent = deka;
                        document.querySelector('#gregorianHuman').textContent = greg;
                    }
                };
                xhr.send();
                console.log(url);
            }

            document.querySelectorAll(".dekatrian").forEach(function (e) {
                e.addEventListener('click', function () {
                    var ref = document.querySelector('#dekatrian').getAttribute('ref');
                    var day = '00' + this.textContent;
                    var date = ref + '-' + day.substring(day.length - 2);
                    var url = '/v1/gregorian/' + date;
                    convert(url);
                });
            });

                document.querySelectorAll(".gregorian").forEach(function (e) {
                    e.addEventListener('click', function () {
                        var ref = document.querySelector('#gregorian').getAttribute('ref');
                        var day = '00' + this.textContent;
                        var date = ref + '-' + day.substring(day.length - 2);
                        var url = '/v1/dekatrian/' + date;
                        convert(url);
                    });
                });

                document.querySelector(".achronian")
                        .addEventListener('click', function () {
                            var year = document.querySelector('#dekatrian')
                                    .getAttribute('ref').substring(0, 4); // Apenas o ano interessa.
                            var url = '/v1/gregorian/' + year + '-00-01';
                            convert(url);
                        });

                document.querySelector(".sinchronian")
                            .addEventListener('click', function () {
                                var year = document.querySelector('#dekatrian')
                                        .getAttribute('ref').substring(0, 4); // Apenas o ano interessa.
                                var url = '/v1/gregorian/' + year + '-00-02';
                                convert(url);
                            });
        </script>
        </body>
