<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org" th:replace="~{fragments/layout :: layout (~{::body},'index')}">
    <body>
        <div class="jumbotron">
            <div class="container">
                <h1><i>Calendário Dekatrian</i></h1>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <div class="alert alert-info text-center" role="alert" style="padding: 0px;">
                        <table id="dekatrian" class="table table-striped"  th:attr="ref=${baseDekatrian}">
                            <thead>
                                <tr>
                                    <th class="text-center"><a th:href="@{/cal/{dekatrian}/{gregorian}(dekatrian=${anteriorDekatrian},gregorian=${gregorian})}"> &lt;&lt; </a></th>
                                    <th class="text-center" colspan="5"><p th:text=${refDekatrian}/></th>
                                    <th class="text-center"><a th:href="@{/cal/{dekatrian}/{gregorian}(dekatrian=${proximoDekatrian},gregorian=${gregorian})}"> &gt;&gt; </a></th>
                                </tr>
                                <tr>
                                    <th scope="col" class="text-center" th:each="day : ${dekatrianWeekDays}" th:text="${day}">
                                </tr>
                            </thead>
                            <tbody class="text-center">
                                <tr th:if="${anachronian} or ${sinchronian}">
                                    <td role="button" class="anachronian_ th:text="${anachronian_segunda}" title="Anachronian_day" th:if="${anachronian_segunda != null}">
                                    <td role="button" class="sinchronian_ th:text="${sinchronian_segunda}" title="Sinchronian_day" th:if="${sinchronian_segunda != null}">
                                    <td role="button" class="anachronian_ th:text="${anachronian_terca}" title="Anachronian_day" th:if="${anachronian_terca != null}">
                                    <td role="button" class="sinchronian_ th:text="${sinchronian_terca}" title="Sinchronian_day" th:if="${sinchronian_terca != null}">
                                    <td role="button" class="anachronian_ th:text="${anachronian_quarta}" title="Anachronian_day" th:if="${anachronian_quarta != null}">
                                    <td role="button" class="sinchronian_ th:text="${sinchronian_quarta}" title="Sinchronian_day" th:if="${sinchronian_quarta != null}">
                                    <td role="button" class="anachronian_ th:text="${anachronian_quinta}" title="Anachronian_day" th:if="${anachronian_quinta != null}">
                                    <td role="button" class="sinchronian_ th:text="${sinchronian_quinta}" title="Sinchronian_day" th:if="${sinchronian_quinta != null}">
                                    <td role="button" class="anachronian_ th:text="${anachronian_sexta}" title="Anachronian_day" th:if="${anachronian_sexta != null}">
                                    <td role="button" class="sinchronian_ th:text="${sinchronian_sexta}" title="Sinchronian_day" th:if="${sinchronian_sexta != null}">
                                    <td role="button" class="anachronian_ th:text="${anachronian_sabado}" title="Anachronian_day" th:if="${anachronian_sabado != null}">
                                    <td role="button" class="sinchronian_ th:text="${sinchronian_sabado}" title="Sinchronian_day" th:if="${sinchronian_sabado != null}">
                                    <td role="button" class="anachronian_ th:text="${anachronian_domingo}" title="Anachronian_day" th:if="${anachronian_domingo != null}">
                                    <td role="button" class="sinchronian_ th:text="${sinchronian_domingo}" title="Sinchronian_day" th:if="${sinchronian_domingo != null}">
                                </tr>
                                <tr th:each="semana : ${semanasDekatrianas}">
                                    <td role="button" class="dekatrian" th:text="${semana.domingo}">
                                    <td role="button" class="dekatrian" th:text="${semana.segunda}">
                                    <td role="button" class="dekatrian" th:text="${semana.terca}">
                                    <td role="button" class="dekatrian" th:text="${semana.quarta}">
                                    <td role="button" class="dekatrian" th:text="${semana.quinta}">
                                    <td role="button" class="dekatrian" th:text="${semana.sexta}">
                                    <td role="button" class="dekatrian" th:text="${semana.sabado}">
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="alert alert-info text-center" role="alert" style="padding: 0px;">
                        <table id="gregorian" class="table table-striped"  th:attr="ref=${baseGregorian}">
                            <thead>
                                <tr>
                                    <th class="text-center"><a th:href="@{/cal/{dekatrian}/{gregorian}(dekatrian=${dekatrian},gregorian=${anteriorGregorian})}"> &lt;&lt; </a></th>
                                    <th class="text-center" colspan="5"><p th:text=${refGregorian}/></th>
                                    <th class="text-center"><a th:href="@{/cal/{dekatrian}/{gregorian}(dekatrian=${dekatrian},gregorian=${proximoGregorian})}"> &gt;&gt; </a></th>
                                </tr>
                                <tr>
                                    <th scope="col" class="text-center">Dom</th>
                                    <th scope="col" class="text-center">Seg</th>
                                    <th scope="col" class="text-center">Ter</th>
                                    <th scope="col" class="text-center">Qua</th>
                                    <th scope="col" class="text-center">Qui</th>
                                    <th scope="col" class="text-center">Sex</th>
                                    <th scope="col" class="text-center">Sáb</th>
                                </tr>
                            </thead>
                            <tbody class="text-center">
                                <tr th:each="semana : ${semanasGregorianas}">
                                    <td role="button" class="gregorian" th:text="${semana.domingo}">
                                    <td role="button" class="gregorian" th:text="${semana.segunda}">
                                    <td role="button" class="gregorian" th:text="${semana.terca}">
                                    <td role="button" class="gregorian" th:text="${semana.quarta}">
                                    <td role="button" class="gregorian" th:text="${semana.quinta}">
                                    <td role="button" class="gregorian" th:text="${semana.sexta}">
                                    <td role="button" class="gregorian" th:text="${semana.sabado}">
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="row">
                        <div class="alert alert-info" role="alert">
                            <p> Gregorian: <span id="gregorianHuman"/></p>
                            <p> Dekatrian: <span id="dekatrianHuman"/></p>
                        </div>
                        <div class="alert alert-info" role="alert">
                            <p><b>Disponível também via REST</b></p>
                            <p>Exemplo:</p>
                            <ul>
                                <li><a href="/v1/dekatrian/1972-12-22">/v1/dekatrian/1972-12-22</a></li>
                                <li><a href="/v1/gregorian/1972-01-28">/v1/gregorian/1972-01-28</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>
