<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org" th:replace="~{fragments/layout :: layout (~{::body},'index')}">
    <body>
        <div class="jumbotron">
            <div class="container">
                <h1><i>Calendário Dekatrian</i></h1>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <div class="alert alert-info text-center" role="alert" style="padding: 0px;">
                        <table id="dekatrian" class="table table-striped"  th:attr="ref=${baseDekatrian}">
                            <thead>
                                <tr>
                                    <th class="text-center"><a th:href="@{/cal/{dekatrian}/{gregorian}(dekatrian=${anteriorDekatrian},gregorian=${gregorian})}"> &lt;&lt; </a></th>
                                    <th class="text-center" colspan="6"><p th:text=${refDekatrian}/></th>
                                    <th class="text-center"><a th:href="@{/cal/{dekatrian}/{gregorian}(dekatrian=${proximoDekatrian},gregorian=${gregorian})}"> &gt;&gt; </a></th>
                                </tr>
                                <tr>
                                    <th scope="col">#</th>
                                    <th scope="col" class="text-center">S</th>
                                    <th scope="col" class="text-center">T</th>
                                    <th scope="col" class="text-center">Q</th>
                                    <th scope="col" class="text-center">Q</th>
                                    <th scope="col" class="text-center">S</th>
                                    <th scope="col" class="text-center">S</th>
                                    <th scope="col" class="text-center">D</th>
                                </tr>
                            </thead>
                            <tbody class="text-center">
                                <tr th:each="semana : ${semanasDekatrianas}">
                                    <th scope="row" th:text="${semana.numeroSemana}">
                                    <td role="button" class="dekatrian" th:text="${semana.domingo}">
                                    <td role="button" class="dekatrian" th:text="${semana.segunda}">
                                    <td role="button" class="dekatrian" th:text="${semana.terca}">
                                    <td role="button" class="dekatrian" th:text="${semana.quarta}">
                                    <td role="button" class="dekatrian" th:text="${semana.quinta}">
                                    <td role="button" class="dekatrian" th:text="${semana.sexta}">
                                    <td role="button" class="dekatrian" th:text="${semana.sabado}">
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="alert alert-info text-center" role="alert" style="padding: 0px;">
                        <table id="gregorian" class="table table-striped"  th:attr="ref=${baseGregorian}">
                            <thead>
                                <tr>
                                    <th class="text-center"><a th:href="@{/cal/{dekatrian}/{gregorian}(dekatrian=${dekatrian},gregorian=${anteriorGregorian})}"> &lt;&lt; </a></th>
                                    <th class="text-center" colspan="6"><p th:text=${refGregorian}/></th>
                                    <th class="text-center"><a th:href="@{/cal/{dekatrian}/{gregorian}(dekatrian=${dekatrian},gregorian=${proximoGregorian})}"> &gt;&gt; </a></th>
                                </tr>
                                <tr>
                                    <th scope="col">#</th>
                                    <th scope="col" class="text-center">D</th>
                                    <th scope="col" class="text-center">S</th>
                                    <th scope="col" class="text-center">T</th>
                                    <th scope="col" class="text-center">Q</th>
                                    <th scope="col" class="text-center">Q</th>
                                    <th scope="col" class="text-center">S</th>
                                    <th scope="col" class="text-center">S</th>
                                </tr>
                            </thead>
                            <tbody class="text-center">
                                <tr th:each="semana : ${semanasGregorianas}">
                                    <th scope="row" th:text="${semana.numeroSemana}">
                                    <td role="button" class="gregorian" th:text="${semana.domingo}">
                                    <td role="button" class="gregorian" th:text="${semana.segunda}">
                                    <td role="button" class="gregorian" th:text="${semana.terca}">
                                    <td role="button" class="gregorian" th:text="${semana.quarta}">
                                    <td role="button" class="gregorian" th:text="${semana.quinta}">
                                    <td role="button" class="gregorian" th:text="${semana.sexta}">
                                    <td role="button" class="gregorian" th:text="${semana.sabado}">
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="row">
                        <div class="alert alert-info" role="alert">
                            <p> Gregorian: <span id="gregorianHuman"/></p>
                            <p> Dekatrian: <span id="dekatrianHuman"/></p>
                        </div>
                        <div class="alert alert-info" role="alert">
                            <p><b>Disponível também via REST</b></p>
                            <p>Exemplo:</p>
                            <ul>
                                <li><a href="/v1/dekatrian/1972-12-22">/v1/dekatrian/1972-12-22</a></li>
                                <li><a href="/v1/gregorian/1972-01-28">/v1/gregorian/1972-01-28</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>
